html, body {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
}

main {
    max-width: 490px;
    min-height: 780px;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(13, 24, 46, 0.9) 0%, rgba(13, 24, 46, 0.9) 100%), url('./images/worldmap.png');
    background-size: cover;
    height: 213px;
    width: 100%;
}

.header img {
    width: 95px;
    height: 85px;
}

.logo h1 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 2.75rem;
    font-weight: 800;
    color: #32CD32;
    margin-bottom: 0;
}

.logo p {
    color: #FFFFFF;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 605px;
    border: 4px solid black;
    border-radius: 15px;
    margin: 20px 13px;
}

form {
    display: flex;
    flex-direction: column;
}

.user-text > h2, .translation-response {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #035A9D;
    padding-top: 20px;
}

textarea {
    width: 80vw;
    min-height: 148px;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #EFF0F4;
    resize: none;
}

fieldset {
    border: none;
    margin-bottom: 25px;
}

legend {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #035A9D;
}

label {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
}

button.translate-btn, button.start-over-btn  {
    border: none;
    border-radius: 6px;
    background: #035A9D;
    padding: 15px auto;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

button.start-over-btn {
    display: none;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
  }
  .loader:before {
    content:"Translating...\A⌰ranslating...\A⌰⍜anslating...\A⌰⍜⏃dnslating...\A⌰⍜⏃⎅slating...\A⌰⍜⏃⎅lating...\A⌰⍜⏃⎅⟟⋏ating...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  }

@media (min-width: 502px) {
    main {
        min-width: 490px;
    }

    textarea {
        width: 407px;
    }

    button {
        padding: 15px 125px;
    }
}